<div class="background-image">
    <div class="header">
        <div class="logo">
            <img src="../../resources/logo.png" (click)="navigateToMenu()" alt="Logo" />
        </div>
        <h1>About App</h1>
        <button class="logout-header-button" (click)="navigateToLogin()">Logout</button>
    </div>
    <div class="body">
        <div class="about-text-body">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam id posuere felis, in fermentum velit. Nam
                consectetur nisl et tellus scelerisque, quis euismod mi consectetur. Nulla maximus blandit sapien in.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam id posuere felis, in fermentum velit. Nam
                consectetur nisl et tellus scelerisque, quis euismod mi consectetur. Nulla maximus blandit sapien in.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam id posuere felis, in fermentum velit. Nam
                consectetur nisl et tellus scelerisque, quis euismod mi consectetur. Nulla maximus blandit sapien in.
            </p>
        </div>
    </div>
</div>