<div class="background-image">
    <div class="header">
        <div class="logo">
            <img src="../../resources/logo.png" (click)="navigateToMenu()" alt="Logo" />
        </div>
        <h1>About App</h1>
        <button class="logout-header-button" (click)="navigateToLogin()">Logout</button>
    </div>
    <div class="body">
        <div class="about-text-body">
            <ul>
                <h3>Witaj w grze "Again Quiz"<br><br></h3>
                <h5>Aplikacja ma być grą która posiada 10 etapów.<br>
                    Na każdym z etapów mają pojawiać się 4 pytania<br> z których tylko jedna jest prawidłowa.<br>Można
                    skorzystać z 3 kół ratunkowych:</h5>
                <li>50/50 - eliminuje 2 nieprawidłowe odpowiedzi</li>
                <li>Pytanie do publiczności - pokazuje procentowy wynik jakie odpowiedzi wybrała publiczność</li>
                <li>Telefon do przyjaciela - pokazuje podpowiedź od przyjaciela, którą odpowiedź wybrałby on</li>
            </ul>
        </div>
        <div class="back-button">
            <button class="ui-btn" (click)="navigateToMenu()">
                <span>To Menu</span></button>
        </div>
    </div>
</div>