<div class="background-image">
    <div class="header">
        <div class="logo">
            <img src="../../resources/logo.png" alt="Logo" />
        </div>
        <h1>Login</h1>
        <button class="logout-header-button" (click)="navigateToRegister()">Register</button>
    </div>
    <div class="login-container">

        <div class="body">
            <div class="login-form">
                <form [formGroup]="loginForm" (ngSubmit)="handleSubmit()">
                    <label for="email">Email</label>
                    <div class="input-container">
                        <input type="email" id="email" formControlName="email" placeholder="E-mail" />
                        <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)"
                            class="tooltip">
                            <small *ngIf="loginForm.get('email')?.errors?.required">Email is required.</small>
                            <small *ngIf="loginForm.get('email')?.errors?.email">Invalid email format.</small>
                        </div>
                    </div>
                    <label for="password">Password</label>
                    <div class="input-container">
                        <input type="password" id="password" formControlName="password" placeholder="Password" />
                        <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)"
                            class="tooltip">
                            <small *ngIf="loginForm.get('password')?.errors?.required">Password is required.</small>
                        </div>
                    </div>
                    <button type="submit" class="sign-in-button">Sign In</button>
                </form>
            </div>
        </div>
    </div>
</div>